.profile {width:200px; height:300px;}
.profile {float:top; margin-right:10px;}

p {font-family: Verdana;}
h1 {font-family: Verdena; font-size: 40px; color:purple; background-color: green; text-transform: uppercase;} 
h2 {font-style: italic; color:purple; font-style: 14px;}
h3 {font-weight; normal; color: blue;}

ul{list-style-type: none; margin:0; padding:0;}
a
{
	display: inline;
	width: 200px;
	background-color:gray;
	text-align: center;
}

li{ display: inline; background-color: #efefef; padding:0.5em; font-size: 24px;}

#feature {height:10em;
margin-bottom: 1em;
background-color:#efefef;}

a:link {
	color:white; text-decoration: none
}
a:visited {
	color:black;}

a:hover {
	color:deeppink;
	text-decoration: underline;}
a:active {color:darkcyan;}

tbody {display: inline; background: #efefef; margin:0.5em; word-spacing: auto;}

ul {display:inline; background: #efefef; margin:auto; word-spacing:auto;}

footer {display: inline; background: #efefef; margin:auto; word-spacing: auto;




   
